body {
  font-family: sans-serif;
  padding: 0 20px;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: left;
  font-size: 60px;
  text-transform: uppercase;
  margin: 60px 0 0;
  color: #272044;
}

.temperature {
  margin: 0.83em 0s;
  font-size: 80px;
  text-transform: uppercase;
  color: #586aca;
  margin: 0;
  padding: 0 0 24px;
}

.card-title {
  color: white;
  font-size: 20pt;
  background-color: #9ba6df;
  margin: 0 0 15px 0;
}

li {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
}

.current-weather-icon {
  width: 128px;
  float: right;
}
.weather-icon {
  width: 64px;
}

.temperature-units {
  font-size: 20px;
  position: relative;
  top: -44px;
}

.temperature-units .active {
  color: black;
  text-decoration: none;
  cursor: default;
}

#weatherDescription:first-letter {
  text-transform: capitalize;
}
.card-body:hover .card-title {
  background-color: #abb8f5;
}

.weather-forecast-temp-min {
  opacity: 0.7;
}
